/* FONT VAZIR ALL HTML */
@font-face {
    font-family: 'Vazir';
    src: url('/static/fonts/vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Vazir';
    color: #444;
    background: #fafafa;
    
}
a{
    text-decoration: none;
}


.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    animation: fadeOut 1s ease-in-out forwards;
    animation-delay: 2s; /* انیمیشن بعد از 2 ثانیه شروع می‌شود */
}

.logo {
    width: 500px;
    height: auto;
}
.rgb-text {
    font-size: 3em;
    font-weight: bold;
    animation: rgbAnimation 3s infinite;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 400%;
}

@keyframes rgbAnimation {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}
/* INPUT SEARCH IN NAVBAR */
.bg-search{
    background-color: rgb(240 240 240)
}

.noborderfocus {
    border: none !important;
    box-shadow: none !important;
}
.noborderfocus:focus {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.highlighted {
    position: relative;
    z-index: 1000;
}
#search-suggestions {
    display: none;
    color: white;
    text-align: center;
    margin-top: 10px;
}
body.focused #search-suggestions {
    display: block;
}
/* NAVBAR PAIIN HOVER */

.subsubmenu{
    display: none;
    background: white;
    border: 1px solid #ccc;
    z-index: 1000;
    width: 200px;

}
.submenu{
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    z-index: 1000;
    width: 200px;
}

.menu-item:hover > .submenu,
.submenu-item:hover > .subsubmenu {
    display: block;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu > .menu-item {
    float: left;
    margin-right: 20px;
}

.submenu, .subsubmenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* DOG & CAT  */
.bg-Cat{
    background: linear-gradient(65deg,#ff3333,#F84F55);
    height: 60%;
}
.bg-Dog {
  
    background: linear-gradient(65deg,#0091ffde,#0090FF);
    height: 60%;

}


.UP:hover {
    animation: up 1s infinite;
}

@keyframes up {
    0% {
        top: 0;
    }
    50% {
        top: 5px; /* فاصله‌ای که دیو حرکت می‌کند */
    }
    100% {
        top: 0;
    }
}

.fixed-bottom-options {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f8f9fa;
    padding: 3px;
}


.DOWN:hover{
    animation: DOWN 1s infinite;

}

@keyframes DOWN {
    0% {
        top: 0;
    }
    50% {
        top: -5px; /* فاصله‌ای که دیو حرکت می‌کند */
    }
    100% {
        top: 0;
    }
}

/* PRODUCT SLIDER */
.product-image {
    width: 100%;
    height: auto;
    max-height: 400px
  }
  .product-details {
    text-align: center;
    padding: 10px;
  }
  .product-name {
    font-size: 1.2em;
    font-weight: bold;
  }
  .product-price {
    color: green;
    font-size: 1.1em;
  }
  .product-description {
    font-size: 0.9em;
    color: #555;
  }
  .owl-carousel .item {
    display: flex;
    flex-direction: column;
    
    
  }
.item{
    transition: transform 0.3s, box-shadow 0.3s;
}
.item:hover{
    transform: translateY(-10px);
}

.bg-money{
    background: linear-gradient(to right, #4e9 , #1b6);
    box-shadow: 0 10px 10px -10px #0c1;
}
.text-hover {
    color: black;
}
.text-hover:hover{
color: white;
}

.containers {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.big-box {
    padding: 20px;
    border-radius: 8px;
}

.small-box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}
.img-fixed-height {
    height: auto; /* تنظیم پیش‌فرض */
  }

  @media (max-width: 576px) {
    .img-fixed-height{
      object-fit: contain; /* اطمینان از اینکه تصویر به درستی برش داده می‌شود و تناسب حفظ می‌شود */
    }
  }

.small-box {
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.bg-moneylevel1{
    background-color:rgba(51, 240, 13, 0.2);
    border: 1px solid #20f00d;
}
.bg-moneylevel1:hover{
    border: 2px solid #20f00d;

}


.bg-moneylevel2{
    background-color:rgba(51, 240, 13, 0.3);
    border: 1px solid #20f00d;
}
.bg-moneylevel2:hover{
    border: 2px solid #20f00d;

}


.bg-moneylevel3{
    background-color:rgba(51, 240, 13, 0.4);
    border: 1px solid #20f00d;
}
.bg-moneylevel3:hover{
    border: 2px solid #20f00d;

}


.bg-moneylevel4{
    background-color:rgba(51, 240, 13, 0.5);
    border: 1px solid #20f00d;
}
.bg-moneylevel4:hover{
    border: 2px solid #20f00d;

}


.bg-moneylevel5{
    background-color:rgba(51, 240, 13, 0.6);
    border: 1px solid #20f00d;
}
.bg-moneylevel5:hover{
    border: 2px solid #20f00d;

}


.bg-moneylevel6{
    background-color:rgba(51, 240, 13, 0.7);
    border: 1px solid #20f00d;
}
.bg-moneylevel6:hover{
    border: 2px solid #20f00d;

}



.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}
.footer .social-media {
    display: flex;
    align-items: center;
}
.footer .social-media img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.footer .social-media a {
    margin-left: 10px;
    font-size: 20px;
    color: #000;
}
.footer .column-links {
    list-style-type: none;
    padding: 0;
}
.footer .column-links li {
    margin: 5px 0;
}
.footer .column-links a {
    text-decoration: none;
    color: #000;
}
.footer .column-links a:hover {
    text-decoration: underline;
}

.bg-age1{
    background-color:rgba(255,55,55, 0.2);
    border: 1px solid #ff2222;
}


.bg-age1:hover{
    border: 2px solid #ff2222;
}



.bg-age2{
    background-color:rgba(13,202,240, 0.2);
    border: 1px solid #0dcaf0;
}


.bg-age2:hover{
    border: 2px solid #0dcaf0;
}



.bg-age3{
    background-color:rgba(250, 246, 2, 0.2);
    border: 1px solid #ffc107;
}


.bg-age3:hover{
    border: 2px solid #ffc107;
}



.bg-age4{
    background-color:rgba(2, 112, 255, 0.2);
    border: 1px solid #0d6efd;
}


.bg-age4:hover{
    border: 2px solid #0d6efd;
}



.bg-age5{
    background-color:rgba(179, 176, 40, 0.2);
    border: 1px solid #b0882c;
}


.bg-age5:hover{
    border: 2px solid #b0882c;
}



.bg-age6{
    background-color:rgba(32, 153, 83, 0.2);
    border: 1px solid #198754;
}


.bg-age6:hover{
    border: 2px solid #198754;
}


.owl-carousel .item img {
    width: 100%; /* عرض تصویر به اندازه کامل باکس */
    height: auto; /* حفظ نسبت تصویر */
    max-height: 300px; /* حداکثر ارتفاع تصویر */
}


/* border ZEmanat */
.animated-box-orenge {
    font-weight: bold;
    color: #333;
    background-color: #fff;
    border: 2px solid #ff6600 ;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.animated-box-orenge:hover {
    background-color: #ff6600;
    animation: shake 0.3s ease-in-out;
    animation-iteration-count: 1;
    color: #ffffff;

}


.animated-box-green {
    font-weight: bold;
    color: #333;
    background-color: #fff;
    border: 2px solid #66ff00 ;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.animated-box-green:hover {
    background-color: #66ff00;
    animation: shake 0.3s ease-in-out;
    animation-iteration-count: 1;
    color: #ffffff;

}


.animated-box-red {
    font-weight: bold;
    color: #333;
    background-color: #fff;
    border: 2px solid #ff0000 ;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.animated-box-red:hover {
    background-color: #ff0000;
    animation: shake 0.3s ease-in-out;
    animation-iteration-count: 1;
    color: #ffffff;

}


.animated-box-blue {
    font-weight: bold;
    color: #333;
    background-color: #fff;
    border: 2px solid #00fff2 ;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.animated-box-blue:hover {
    background-color: #00fff2;
    animation: shake 0.3s ease-in-out;
    animation-iteration-count: 1;
    color: #ffffff;

}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
}